{% extends "base.html.twig" %}
{% block title %}Kapcsolat{% endblock %}
{% block description %}Kapcsolat oldal leírása{% endblock %}



{% block body %}

<div class="container mt-5">
    <h1 class="mb-4">
        Kapcsolat
    </h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">
            Küldés
        </button>
        <div id="alert" class="mt-2">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

    {{ form_end(form) }}
</div>


{% endblock %}

